@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

/* LOADER */
.loader {
  background: #000;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.2);
    border-radius: 10%;
  }
  50% {
    transform: rotate(180deg) scale(1.5);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg) scale(0.2);
    border-radius: 10%;
  }
}
  
/* LOADER */

body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  background: #111;
  overflow-x: hidden;
  height: 100vh;
  overflow: hidden;
}

.loaderContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.hero {
  background: #111;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.background-image {
  width: 70vh;
  height: 70vh;
  position: absolute;
  top: calc(50% - 35vh);
  background: url('/assets/hero-image.jpg');
  background-size: cover;
  background-position: center;
}

.hero > div {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  top: -50px;
}

.title {
  color: #fff;
  font-size: 10rem;
  display: block;
  margin: 0;
  font-weight: 700;
}

.line {
  background: #fff;
  height: 2px;
}

.heroLinks {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: -75px;
}

.link {
  color: #fff;
  position: absolute;
}

.loader {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 99999;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}

.loader1 {
  position: absolute;
  top: 0;
  height: calc(50vh - 2px);
  width: 100%;
  background: #fff;
  z-index: 10000;
}

.loader2 {
  position: absolute;
  bottom: 0;
  height: calc(50vh - 2px);
  width: 100%;
  background: #fff;
  z-index: 10000;
}

.lineOpener {
  position: absolute;
  height: 4px;
  width: 100%;
  z-index: 99998;
  top: calc(50vh - 2px);
  background: #fff;
}

/* IMG reveal on hover */

.imageReveal {
  padding: 200px;
  background: #222;
  position: relative;
  min-height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.imageReveal__container {
  position: relative;
  height: 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: thin solid #444;
  padding-bottom: 50px;
}

.imageReveal p {
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  display: flex;
  align-self: center;
  line-height: 1;
  cursor: pointer;
  transition: .1s;
  color: #fff;
  opacity: .75;
  text-transform: uppercase;
  letter-spacing: 10px;
  z-index: 1;
}

.imageReveal p:hover {
  color: #fff;
  transition: .1s;
  opacity: 1;
  z-index: 3;
}

.imageReveal__image {
  height: 50vh;
  width: 50vw;
  max-width: 1000px;
  position: absolute;
  scale: 0.75;
  opacity: 0;
  filter: brightness(75%);
  top: calc(-24vh);
  left: -100px;
}


.imageReveal__image.tokyo {
  background: url(/assets/tokyo.jpg);
  background-size: cover;
}

.imageReveal__image.new-york {
  background: url(/assets/new-york.jpg);
  background-size: cover;
}

.imageReveal__image.los-angeles {
  background: url(/assets/los-angeles.jpg);
  background-size: cover;
}

.imageReveal__image.amsterdam {
  background: url(/assets/amsterdam.jpg);
  background-size: cover;
}

.imageReveal__image.paris {
  background: url(/assets/paris.jpg);
  background-size: cover;
}