/* LOADER */
.loader {
  background: #000;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.2);
    border-radius: 10%;
  }
  50% {
    transform: rotate(180deg) scale(1.5);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg) scale(0.2);
    border-radius: 10%;
  }
}
  
/* LOADER */

body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  background: #1a1a1a;
  overflow-x: hidden;
}

.hero {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.hero > div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  color: #fff;
  font-size: 10rem;
  display: block;
  margin: 0;
  position: absolute;
}

.line {
  background: #fff;
  width: 100%;
  height: 2px;
  position: absolute;
}

.heroLinks {
  display: flex;
  justify-content: space-between;
}

.link {
  color: #fff;
  position: absolute;
}

.loader {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 99999;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}

.loader1 {
  position: absolute;
  top: 0;
  height: calc(50vh - 2px);
  width: 100%;
  background: #fff;
  z-index: 10000;
}

.loader2 {
  position: absolute;
  bottom: 0;
  height: calc(50vh - 2px);
  width: 100%;
  background: #fff;
  z-index: 10000;
}

.lineOpener {
  position: absolute;
  height: 4px;
  width: 100%;
  z-index: 99998;
  top: calc(50vh - 2px);
  background: #fff;
}

/* IMG reveal on hover */

.imageReveal {
  padding: 200px;
  background: #fff;
  position: relative;
}

.imageReveal__container {
  border: 2px solid blue;
  position: relative;
  height: 60px;
  display: flex;
}

.imageReveal p {
  font-size: 24px;
  z-index: 10;
  margin: 0;
  padding: 0;
  border: 2px solid red;
  width: 100%;
  display: flex;
  align-self: center;
  line-height: 1;
  cursor: pointer;
}


.imageReveal__image {
  height: 300px;
  width: 300px;
  background: red;
  position: absolute;
  scale: 0.75;
  opacity: 0;
  top: -120px;
  left: -150px;
}